@inject IJSRuntime jsRuntime

<div class="position-fixed user-select-none flex-nowrap text-nowrap"
     @onmousedown=@this.MouseDown
     @ontouchstart=@this.TouchStart
     style="padding:@(this.IsMaximized()?0:this.BorderSize)px; z-index:@this.TierIndex; pointer-events:auto; @this.GetWindowSizeStyle()">

    @if (!this.IsMaximized())
    {
        <div class="position-absolute" style="width:@(this.CornerSize)px;height:@(this.CornerSize)px;left:0px;top:0px;cursor:nw-resize"
         data-resizetarget="@this.ResizeTarget" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="height:@(this.BorderSize)px;left:@(this.CornerSize)px;top:0px;right:@(this.CornerSize)px;cursor: n-resize"
         data-resizetarget="@this.ResizeTarget" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:@(this.CornerSize)px;height:@(this.CornerSize)px;right:0px;top:0px;cursor: ne-resize"
         data-resizetarget="@this.ResizeTarget" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:@(this.BorderSize)px;left:0px;top:@(this.CornerSize)px;bottom:@(this.CornerSize)px;cursor:w-resize"
         data-resizetarget="@this.ResizeTarget" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:@(this.BorderSize)px;top:@(this.CornerSize)px;right:0px;bottom:@(this.CornerSize)px;cursor:e-resize"
         data-resizetarget="@this.ResizeTarget" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:@(this.CornerSize)px;height:@(this.CornerSize)px;left:0px;bottom:0px;cursor:sw-resize"
         data-resizetarget="@this.ResizeTarget" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="height:@(this.BorderSize)px;left:@(this.CornerSize)px;right:@(this.CornerSize)px;bottom:0px;cursor: s-resize"
         data-resizetarget="@this.ResizeTarget" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
        <div class="position-absolute" style="width:@(this.CornerSize)px;height:@(this.CornerSize)px;right:0px;bottom:0px;cursor:se-resize"
         data-resizetarget="@this.ResizeTarget" onmousedown="resizeEvents.mouseResizeStart(event)" ontouchstart="resizeEvents.touchResizeStart(event)"></div>
    }

    <div class="shadow-lg rounded w-100 h-100" style="max-width:none;max-height:none;">
        @this.ChildContent
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<EventArgs> OnWindowFocusIn { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string? Left { get; set; } = "auto";

    [Parameter]
    public string? Top { get; set; } = "auto";

    [Parameter]
    public string? Width { get; set; } = "auto";

    [Parameter]
    public string? Height { get; set; } = "auto";

    [Parameter]
    public ProgramWindowStates WindowState { get; set; } = ProgramWindowStates.Normal;

    [Parameter]
    public string ResizeTarget { get; set; } = ".position-fixed";

    [Parameter]
    public int BorderSize { get; set; } = 6;

    [Parameter]
    public int CornerSize { get; set; } = 12;

    [Parameter]
    public int TierIndex { get; set; }

    protected bool IsMaximized() => this.WindowState == ProgramWindowStates.Maximized;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await this.jsRuntime.InvokeVoidAsync("blazorJSTools.importJavaScript", "./_content/HackSystem.Web.ProgramPlatform/blazor.resizeable.js");
    }

    private string GetWindowSizeStyle() => this.WindowState switch
    {
        ProgramWindowStates.Normal => $"top:{this.Top}; left:{this.Left}; width:{this.Width}; height:{this.Height};",
        ProgramWindowStates.Maximized => $"top:inherit;left:inherit;width:inherit;height:calc(100% - {ComponentContract.TopBarHeight}px);",
        ProgramWindowStates.Minimized => $"display:none;",
        _ => string.Empty
    };

    private async Task MouseDown(MouseEventArgs args) => await this.OnFocusIn();

    private async Task TouchStart(TouchEventArgs args) => await this.OnFocusIn();

    protected async Task OnFocusIn()
    {
        if (!this.OnWindowFocusIn.HasDelegate) return;
        await this.OnWindowFocusIn.InvokeAsync();
    }
}
